/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 740px;
$footerheight: 50px;

/* Colors */
$text: #000000;
$links: #000000;
$hover: #c086ab;

$bg: #FFF;
$color1: #f4f3ef;
$gold: #ab8d3f;

/* Fonts */
$main: 'Open Sans', sans-serif;

/* Borders */
$border: 1px solid #000;

/* Breakpoints */
$cap: 1920px;
$m: 850px;
$s: 740px;
$xs: 500px;